# ========================================
# Environment variables
# ========================================
app/.env
app/.env.*
!app/.env.example

# ========================================
# Dependencies
# ========================================
app/node_modules/

# ========================================
# Build outputs
# ========================================
app/dist/
app/coverage/
app/*.tsbuildinfo

# ========================================
# Logs
# ========================================
*.log
app/npm-debug.log*

# ========================================
# Editor
# ========================================
.vscode/

# JetBrains IDE
.idea/

# ========================================
# OS files
# ========================================
.DS_Store
Thumbs.db